<form method="POST" action="/courses/{{course._id}}?_method=PUT">
  <h3>Cập Nhật Khóa Học</h3>
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      value="{{course.name}}"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
    >{{course.description}}</textarea>
  </div>
  <div class="mb-3">
    <label for="videoId" class="form-label">videoId</label>
    <input
      type="text"
      class="form-control"
      id="videoId"
      name="videoId"
      value="{{course.videoId}}"
    />
  </div>
  <div class="mb-3">
    <label for="level" class="form-label">level</label>
    <input
      type="text"
      class="form-control"
      id="level"
      name="level"
      value="{{course.level}}"
    />
  </div>

  <button type="submit" class="btn btn-primary">Sửa</button>
</form>