<div class="mt-4">

  <div class="row">

    {{#each course}}

      <div class="card col-sm-6 col-lg-4 me-4" style="width: 18rem;">
        <a href="/courses/{{this.slug}}">
          <img src="{{this.image}}" class="" alt="{{this.name}}" /></a>
        <div class="card-body">
          <a href="/courses/{{this.slug}}"> <h5 class="card-title">{{this.name}}</h5></a>
          <p class="card-text">{{this.description}} </p>
          <a href="#" class="btn btn-primary">BUY</a>
        </div>
      </div>

    {{/each}}

  </div>

</div>